.objs/
.deps/
bin/
build/buildsystem.html
docs/
src/ucollect/ucollect
src/lcollect/lcollect
lib/
src/core/libucollect_core.*
*.so
*.html
*.pyc
src/plugins/buckets/hash_test
src/master/collectmaster
src/master/authenticator/authenticator
tags
src/master/soxy/*.o
src/master/soxy/moc_*
src/master/soxy/Makefile
src/master/soxy/soxy
